<div id="<%= dom_id escalation_level %>">
  <p>
    <strong>Escalatable:</strong>
    <%= escalation_level.escalatable_id %>
  </p>

  <p>
    <strong>Attrib:</strong>
    <%= escalation_level.attrib %>
  </p>

  <p>
    <strong>Min critical:</strong>
    <%= escalation_level.min_critical %>
  </p>

  <p>
    <strong>Min warning:</strong>
    <%= escalation_level.min_warning %>
  </p>

  <p>
    <strong>Max warning:</strong>
    <%= escalation_level.max_warning %>
  </p>

  <p>
    <strong>Max critical:</strong>
    <%= escalation_level.max_critical %>
  </p>

</div>
