<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.escalation_levels') %></h1>

  <%= render 'index', escalatable: @escalatable, escalation_levels: @escalation_levels %>
<br />

<%= back_link %>
<% if @escalatable.present? %>
  <%= new_link([@escalatable, EscalationLevel]) %>
<% end %>
