<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "channels_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'turbo': false,
          'datatables-target': 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr class="search">
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.description') %></th>
            <th><%= t('attributes.uid') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% channels.each do |channel| %>
        <%= content_tag(:tr, id: dom_id(channel), class: dom_class(channel)) do %>
          <td><%= channel.name %></td>
          <td><%= format(channel.description) %></td>
          <td><%= channel.uid %></td>
          <td class="text-owrap">
            <%= show_link [server, channel] %>
            <%= link_to(raw(%Q[<i class="fas fa-fw fa-chart-bar"></i>]), server_channel_statistic_path(channel.server, channel), class: 'btn btn-secondary') %>
            <%= link_to(raw(%Q[<i class="fas fa-fw fa-project-diagram"></i>]), server_channel_path(server,channel, format: :puml), class: 'btn btn-secondary') %>
            <%= delete_link [server, channel] %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
