<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "channels_table",
        class: "table table-bordered table-responsive",
        data: {
          'turbo': false,
          'datatables-target': 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.description') %></th>
            <th><%= t('attributes.uid') %></th>
            <th><%= t('attributes.updated_at') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% channels.each do |channel| %>
        <%= content_tag(:tr, id: dom_id(channel), class: dom_class(channel)) do %>
          <td><%= channel.name %></td>
          <td><%= format(channel.description) %></td>
          <td><%= channel.uid %></td>
          <td><%= channel.updated_at.localtime.to_formatted_s(:db) %></td>
          <td class="text-owrap">
            <%= show_link channel %>
            <%= link_to(
                  raw(%Q[<i class="fas fa-fw fa-chart-bar"></i>]),
                  channel_statistic_path(channel.channel_statistic),
                  class: 'btn btn-secondary'
                ) if channel.channel_statistic.present?
             %>
            <%= link_to(raw(%Q[<i class="fas fa-fw fa-project-diagram"></i>]), channel_path(channel, format: :svg), class: 'btn btn-secondary') %>
            <%= delete_link [channel.server, channel] %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
