<table class="table table-hover autowidth">

  <tr>
    <th class="w-25"><%= t('attributes.description')%>:</th>
    <td>
      <%= format(@channel.description) %>
    </td>
  </tr>

  <tr>
    <th><%= t('attributes.condition')%>:</th>
    <td><%= @channel.condition_message %></td>
  </tr>

  <tr>
    <th><%= t('attributes.uid')%>:</th>
    <td><%= @channel.uid %></td>
  </tr>

  <tr>
    <th><%= t('attributes.version')%>:</th>
    <td><%= @channel.version %></td>
  </tr>

  <tr>
    <th><%= t('attributes.revision')%>:</th>
    <td><%= @channel.revision %></td>
  </tr>

  <% unless @channel.exportData.nil? %>
  <tr>
    <th><%= t('attributes.exportData')%>:</th>
    <td>
      <pre><%= render HashToYamlComponent.new(hash: @channel.exportData) %></pre>
    </td>
  </tr>
  <% end %>

  <% unless @channel.properties['preprocessingScript'].nil? %>
  <tr>
    <th><%= t('attributes.preprocessingScript')%>:</th>
    <td>
      <pre><%= @channel.properties['preprocessingScript'] %></pre>
    </td>
  </tr>
  <% end %>

  <% unless @channel.properties['postprocessingScript'].nil? %>
  <tr>
    <th><%= t('attributes.postprocessingScript')%>:</th>
    <td>
      <pre><%= @channel.properties['postprocessingScript'] %></pre>
    </td>
  </tr>
  <% end %>

  <% if @channel.has_attachment_handler? %>
  <tr>
    <th><%= t('attributes.attachment_handler')%>:</th>
    <td>
      <pre>
<%= render Channel::AttachmentHandlerComponent.new(channel: @channel) %>
      </pre>
    </td>
  </tr>
  <% end %>

  <tr>
    <th><%= t('attributes.sourceConnector')%>:</th>
    <td>
      <%= render ConnectorComponent.new(connector: @channel.source_connector) %>
    </td>
  </tr>

  <tr>
    <th><%= t('attributes.destinationConnectors')%>:</th>
    <td>
      <%=
        render ConnectorComponent.with_collection(@channel.destination_connectors)
       %>
   </td>
  </tr>
</table>
