<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.channels') %></h1>

<%= render partial: 'index', locals: { channels: @channels } %>

<br />

<%= back_link %>
<% if params[:outdated] %>
  <%= button_to(t('channels.delete_outdated'),
                delete_outdated_channels_path(),
                method: :delete,
                form: {
                  data: {
                    "turbo-frame": "channels",
                    "turbo-confirm": t('channels.delete_outdated_confirm')
                  }
                },
                class: 'btn btn-warning me-1') if current_user.is_admin?
   %>

<% end %>
