<ul class="nav nav-tabs mt-2" id="myTab" role="tablist" data-controller="bstabs">
  <li class="nav-item" role="presentation">
    <button class="nav-link fs-4 py-0 my-0 pe-0 me-0" type="button"
            tabindex="-1" aria-disabled="true">
      <%= link_to(@channel.server, @channel.server, {class: 'primary-link'}) %>
    </button>
  </li>
  <li>
    <button class="nav-link disabled fs-4 py-0 my-0 ps-1 ms-1" type="button"
            tabindex="-1" aria-disabled="true">
       &#8227; <%= @channel.name %>
    </button>
  </li>
  <li class="nav-item me-2" role="presentation">
    <button class="nav-link disabled fs-4 py-0 my-0" type="button"
            tabindex="-1" aria-disabled="true">
      <%= render ConditionIconComponent.new(item: @channel, as_text: false,
                                            period: 8.days ) %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="channel-tab" data-bs-toggle="tab" data-bs-target="#channel" type="button" role="tab" aria-controls="channel" aria-selected="false">
      <%= t('attributes.channel') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link " id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">
      <%= t('controller.notes') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link " id="alerts-tab" data-bs-toggle="tab" data-bs-target="#alerts" type="button" role="tab" aria-controls="alerts" aria-selected="false">
      <%= t('controller.alerts') %>
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 <div class="tab-pane fade show active" id="channel" role="tabpanel" aria-labelledby="channel-tab">
  <div class="card">
    <div class="card-header <%= "bg-disabled" if @channel.disabled? %>">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title pt-1">
          <%= t('activerecord.models.channel') %>
        </h4>
        <% if @channel.disabled? %>
          <div class="mt-2">
            <%= Mirco::States.flag(Mirco::States::CRITICAL) %>
            <span class="fw-bold text-danger pt-2">DISABLED</span>
          </div>
        <% else %>
          <div class="mt-2">
            <span class="pt-2">enabled</span>
          </div>
        <% end %>
        <div role="toolbar">
          <%= back_link %>
          <%= asciidoc_link(@channel) %>
          <%= link_to(
                raw(%Q[<i class="fas fa-fw fa-chart-bar"></i>]),
                channel_statistic_path(@channel.channel_statistic),
                class: 'btn btn-secondary me-1'
              ) if @channel.channel_statistic.present?
           %>
          <%= link_to(raw(%Q[<i class="fas fa-fw fa-project-diagram"></i>]),
                channel_path(@channel, format: :svg), class: 'btn btn-secondary me-1') %>
          <%= delete_button([@channel.server, @channel], 'data-turbo': false) %>
        </div>
      </div>
    </div>
    <div class="card-body">
     <%= render 'show', channel: @channel %>
    </div>
  </div>
 </div>

 <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
   <%= turbo_frame_tag("notes", 
                        src: polymorphic_path([@channel, :notes], active: 1),
                        loading: "lazy",
                        refresh: "morph") %>
 </div>

 <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
   <%= turbo_frame_tag("alerts",
                        src: polymorphic_path([@channel, :alerts]),
                        loading: "lazy",
                        refresh: "morph") %>

 </div>

</div>
