<div class="card">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="title">
        <%= t('activerecord.models.channel') %> 
        <%= @server %> &#8227; <%= @channel.name %>
      </h4>
      <div role="toolbar">
        <%= back_link %>
        <%= delete_link([@server, @channel]) %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover autowidth">
    
      <tr>
        <th><%= t('attributes.description')%>:</th>
        <td>
          <pre><%= @channel.description %></pre>
        </td>
      </tr>
    
      <tr>
        <th><%= t('attributes.uid')%>:</th>
        <td><%= @channel.uid %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.version')%>:</th>
        <td><%= @channel.version %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.revision')%>:</th>
        <td><%= @channel.revision %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.exportData')%>:</th>
        <td><%= ( @channel.exportData || "may be missing if version < 3.9") %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.sourceConnector')%>:</th>
        <td>
          <%= render ConnectorComponent.new(connector: @channel.sourceConnector) %>
        </td>
      </tr>
    
      <tr>
        <th><%= t('attributes.destinationConnectors')%>:</th>
        <td>
          <%= render ConnectorComponent.with_collection(Array[@channel.destinationConnectors['connector']]) %>
       </td>
      </tr>
    
        </table>

  </div>
</div>
