<div class="container">
  <%= simple_form_for([@notable, @note],
    html: { class: 'card' }) do |f| %>

    <div class="card-header">
      <div class="text-muted">
        <span><%= t('activerecord.models.note') %> <%= t('mirco.for') %></span>
      </div>
      <h5 class="card-title">
        <% if @notable.kind_of? Channel %>
          <span><%= @notable.server %>::<%= @notable %></span>
        <% else %>
          <span><%= @notable %></span>
        <% end %>
      </h5>
    </div>
    <%= render 'shared/form_error', form: f %>
    <div class="card-body">
      <%= f.input :message, as: :rich_text_area
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
