<div class="container">
  <%= simple_form_for([@notable, @note],
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <div><%= form_legend %></div>
      <div><%= @notable %></div>
    </div>
    <div class="card-body">
      <%= f.rich_text_area :message %>
      <%= f.input :type, value: 'note', readonly: true
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
