<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "notes_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr class="search">
            <th><%= t('attributes.created_at') %></th>
            <% unless notable.present? %>
              <th><%= t('attributes.server') %></th>
            <% end %>
            <% unless notable.kind_of? Channel %>
              <th><%= t('attributes.channel') %></th>
            <% end %>

            <th><%= t('attributes.message') %></th>
            <th><%= t('attributes.user') %></th>
            <th><%= t('attributes.type') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
            <th></th>
            <% unless notable.present? %>
              <th></th>
            <% end %>
            <% unless notable.kind_of? Channel %>
              <th></th>
            <% end %>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% notes.each do |note| %>
        <%= content_tag(:tr, id: dom_id(note), class: dom_class(note)) do %>
          <td><%= note.created_at.localtime.to_formatted_s(:db) %></td>
          <% unless notable.present? %>
            <td><%= note.server %></td>
          <% end %>
          <% unless notable.kind_of? Channel %>
            <td><%= note.channel %></td>
          <% end %>
          <td><%= truncate(strip_tags(note.message.to_s), length: 300) %></td>
          <td><%= note.user %></td>
          <td><%= note.type %></td>
          <td class="text-nowrap">
          <%= show_link [notable, note] %>
          <%= edit_link [notable, note],
                data: {
                  controller: :modal,
                  'modal-modal-id-value': 'sharedModal',
                  action: 'click->modal#open',
                  'turbo-frame': "modal-body"
               }
           %>
          <%= delete_link([notable, note], { data: { turbo: { method: :delete, confirm: "Are you sure?" }}}) %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
