<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "notes_table",
        class: "table table-striped table-sm table-responsive-xl",
        style: 'width: 100%;',
        data: {
          order: [[0, 'desc']].to_json
        } do %>
    <thead class="table-primary">
      <tr>
            <th><%= t('attributes.created_at') %></th>
            <% if notable.kind_of? Server %>
              <th><%= t('attributes.channel') %></th>
              <th><%= t('attributes.channel_detail') %></th>
            <% elsif notable.kind_of? Channel %>
              <th><%= t('attributes.channel_detail') %></th>
            <% end %>

            <th><%= t('attributes.message') %></th>
            <th class="notvisible"><%= t('attributes.user') %></th>
            <th class="notvisible"><%= t('attributes.type') %></th>
            <th class="nosort text-end"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% notes.each do |note| %>
        <%= content_tag(:tr, id: dom_id(note), class: dom_class(note)) do %>
          <td><%= note.created_at.localtime.to_fs(:local) %></td>
          <% if notable.kind_of? Server %>
            <td><%= note.channel %></td>
            <td><%= note.channel_statistic %></td>
          <% elsif notable.kind_of? Channel %>
            <td><%= note.channel_statistic %></td>
          <% end %>
          <td><%= truncate(strip_tags(note.message.to_s), length: 300) %></td>
          <td><%= note.user %></td>
          <td><%= note.type %></td>
          <td class="text-nowrap text-end">
          <%= show_link [notable, note], class: 'px-1' %>
          <%= edit_link [notable, note],
                class: 'px-1',
                data: {
                  controller: :modal,
                  'modal-modal-id-value': 'sharedModal',
                  action: 'click->modal#open',
                  'turbo-frame': "modal-body"
               }
           %>
          <%= delete_button([notable, note], class: 'no_button') %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
