<%= simple_form_for([@software_interface, @interface_connector]) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.association :software_interface, wrapper: :horizontal_select,
          label_method: :to_s
       %>
    <%= form.input :name
       %>
    <%= form.input :type, collection: InterfaceConnector::TYPES,
                   include_blank: false
       %>
    <%= form.input :url
       %>
    <%= form.input :description, as: :rich_text_area
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
