<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.interface_connectors') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "interface_connectors_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'asc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.lid') %></th>
            <th><%= t('attributes.software') %></th>
            <th><%= t('attributes.software_interface') %></th>
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.type') %></th>
            <th><%= t('attributes.url') %></th>
            <th><%= t('attributes.description') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% @interface_connectors.each do |interface_connector| %>
        <%= content_tag(:tr, id: dom_id(interface_connector), class: dom_class(interface_connector)) do %>
                <td><%= link_to interface_connector.location&.lid, interface_connector.location %></td>
                <td><%= link_to interface_connector.software_interface.software %></td>
                <td><%= link_to interface_connector.software_interface.name, interface_connector.software_interface %></td>
                <td><%= link_to interface_connector.name, interface_connector %></td>
                <td><%= interface_connector.type %></td>
                <td><%= interface_connector.url %></td>
                <td><%= interface_connector.description.to_plain_text.truncate(300) %></td>
                <td class="text-nowrap">
            <%= show_link interface_connector %>
            <%= edit_link interface_connector %>
            <%= delete_link interface_connector %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link InterfaceConnector %>
