<%= render 'shared/turbo-cache-control' %>

<div class="container">
  <%= form_tag(software_connections_path, method: :get, role: "form",
        class: 'form-horizontal card') do |f| %>

    <div class="card-header">
      <legend class="offset-sm-2 col-sm-10"><%= t('mirco.search_software_connections') %></legend>
    </div>
    <div class="card-body">

      <div class="mb-3 row location_id">
	<%= label_tag :location_id, t('attributes.location'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "location_id",
                options_from_collection_for_select(Location.accessible_by(current_ability, :read), 'id', 'to_s', @search['location_id']),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :source_url, t('attributes.source_url'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= text_field_tag "source_url", @search['source_url'], class: "form-control",
                placeholder: 'tcp://1.2.3.4:5678'

            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :destination_url, t('attributes.destination_url'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= text_field_tag "destination_url", @search['destination_url'], class: "form-control",
                placeholder: 'tcp://1.2.3.4:5678'

            %>
          </select>
	</div>
      </div>


      <div class="mb-3 row">
	<%= label_tag :source_connector_id, t('attributes.source_connector'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "source_connector_id",
                options_from_collection_for_select(
                  InterfaceConnector.accessible_by(current_ability, :read)
                                    .where(type: 'TxConnector'),
                  'id', 'to_label', @search['source_connector_id']),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :destination_connector_id, t('attributes.destination_connector'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "destination_connector_id",
                options_from_collection_for_select(
                  InterfaceConnector.accessible_by(current_ability, :read)
                                    .where(type: 'RxConnector'),
                  'id', 'to_label', @search['destination_connector_id']),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :missing_connector, t('attributes.missing_connector'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "missing_connector",
                options_for_select([:none, :both, :any, :source, :destination], 
                                   @search['missing_connector']),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row channel_id">
	<%= label_tag :channel_id, t('attributes.channel'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "channel_id",
                options_from_collection_for_select(Channel.accessible_by(current_ability, :read), 'id', 'fullname', @search['channel_id']),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>


      <div class="mb-3 row limit">
	<%= label_tag :limit, t('attributes.limit'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-3">
	  <%= text_field_tag :limit, (@search['limit'] || 100),  class: "form-control" %>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :ignore, t('mirco.ignored_connections'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-3">
          <%= select_tag "ignore",
                options_for_select([:no, :yes], (@search['ignore'] || :no)),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :disabled_channels, t('mirco.disabled_channels'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-3">
          <%= select_tag "disabled_channels",
                options_for_select([:no, :yes], (@search['disabled_channels'] || '')),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<div class="col-sm-10 offset-sm-2">
	  <%= submit_tag(t('mirco.search_software_connections'),
                class: 'btn btn-primary') %>
          <%= button_tag(name: nil, method: :get,
                         class: "btn btn-secondary",
                         formaction: software_connections_path(format: :svg)) do %>
            <i class="fas fa-fw fa-project-diagram"></i>
          <% end %>
	  <%= cancel_button %>
	</div>
      </div>
    </div>
  <% end %>
</div>
