<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="container">
  <%= form_tag(software_connections_path, method: :get, role: "form",
        class: 'form-horizontal card') do |f| %>

    <div class="card-header">
      <legend class="offset-sm-2 col-sm-10"><%= t('mirco.search_software_connections') %></legend>
    </div>
    <div class="card-body">

      <div class="mb-3 row location_id">
	<%= label_tag :location_id, t('attributes.location'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "location_id",
                options_from_collection_for_select(Location.accessible_by(current_ability, :read), 'id', 'to_s'),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :source_url, t('attributes.source_url'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= text_field_tag "source_url", nil, class: "form-control",
                placeholder: 'tcp://1.2.3.4:5678'

            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :destination_url, t('attributes.destination_url'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= text_field_tag "destination_url", nil, class: "form-control",
                placeholder: 'tcp://1.2.3.4:5678'

            %>
          </select>
	</div>
      </div>


      <div class="mb-3 row channel_id">
	<%= label_tag :channel_id, t('attributes.channel'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "channel_id",
                options_from_collection_for_select(Channel.accessible_by(current_ability, :read), 'id', 'fullname'),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>

      <div class="mb-3 row">
	<%= label_tag :missing_connector, t('attributes.missing_connector'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "missing_connector",
                options_for_select([:none, :both, :any, :source, :destination], nil),
                include_blank: true,
                data: { controller: :select }
            %>
          </select>
	</div>
      </div>


      <div class="mb-3 row limit">
	<%= label_tag :limit, t('attributes.limit'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-3">
	  <%= text_field_tag :limit, 100,  class: "form-control" %>
	</div>
      </div>

      <div class="mb-3 row">
	<div class="col-sm-10 offset-sm-2">
	  <%= submit_tag(t('mirco.search_software_connections'),
                class: 'btn btn-primary') %>
	  <%= cancel_button %>
	</div>
      </div>
    </div>
  <% end %>
</div>
