<div class="card mb-2">
  <div class="card-header <%= sw_connection_class(@software_connection)  %>">
    <div class="d-flex w-250 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.software_connection') %>:
          #<%= @software_connection.id %>
        </span>
        <h4 class="title"><%= @software_connection %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@software_connection) %>
        <%= delete_link(@software_connection) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <table class="table table-borderless">

          <tr class=border-bottom>
            <th class="w-25 pe-3"><%= t('attributes.location')%>:</th>
            <td><%= link_to @software_connection.location, 
                            @software_connection.location,
                            class: 'primary-link'
                 %></td>
          </tr>

          <tr class=border-bottom>
            <th class="w-25 pe-3"><%= t('attributes.server')%>:</th>
            <td><%= link_to @software_connection.server, 
                            @software_connection.server,
                            class: 'primary-link'
                 %></td>
          </tr>

          <tr>
            <th>
              Source Connector
            </th>
            <td>
              <%= render Connections::ConnectorComponent.new(connector: @software_connection.source_connector) %>
            </td>
          </tr>
          <tr class="border-bottom">
            <th class="w-25 pe-3"><%= t('attributes.source_url')%>:</th>
            <td><%= @software_connection.source_url %> <br/>
                <%= @software_connection.src_url_host %>
            </td>
          </tr>

          <tr class="border-bottom">
            <th>
              Channels
            </th>
            <td>
              <%= @software_connection.channel_ids.map do |cid|
                    c = Channel.where(id: cid).first
                    if c.disabled?
                      %Q[<span class="bg-disabled">#{c.name}</span>]
                    else
                      %Q[<span class="">#{c.name}</span>]
                    end
                  end.join('<br/>').html_safe
               %>
            </td>
          </tr>

          <tr>
            <th>
              Destination Connector
            </th>
            <td>
              <%= render Connections::ConnectorComponent.new(connector: @software_connection.destination_connector) %>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="w-25 pe-3"><%= t('attributes.destination_url')%>:</th>
            <td><%= @software_connection.destination_url %> <br/>
                <%= @software_connection.dst_url_host %>
            </td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ignore')%>:</th>
            <td>
              <span class="<%= sw_connection_class(@software_connection) %>">
                <%= @software_connection.ignore %>
              </span>
           </td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ignore_reason')%>:</th>
            <td><%= @software_connection.ignore_reason %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= @software_connection.description %></td>
          </tr>
        </table>
      </div>
      <div class="col-3">
        <%= image_tag(software_connection_path(@software_connection, format: :svg)) %>
      </div>
    </div>
  </div>
</div>

<%= back_link %>
<%= new_link SoftwareConnection %>
