<div class="card mb-1">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <span class="fw-bolder"><%= mc.meta_data_id %>: <%= mc.name %> </span>
      <span class="<%=enabled %>"><%= t(mc.enabled, scope: 'enabled') %></span>
      <span class="text-muted"><%= mc.transportName %></span>
    </div>
  </div>
  <% if mc.descriptor.any? %>
    <div class="card-body">
      <table class="connector table table-sm table-borderless">
        <tbody>
          <% mc.descriptor.each do |k,v| %>
            <tr>
              <td class="w-25"><%= k %>: </td>
              <td>
                <%=
                  if v.kind_of? Array
                    link_to(v[0], v[1], class: 'primary-link')
                  else
                    v
                  end
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if mc.transformers.any? %>
    <div class="card-body">
      <b>Transformers (<%= mc.transformers.size %>)</b>
      <% mc.transformers.each do |trf| %>
        <div class="row m-0">
          <span class="col-md-1"><%= trf.step %>: </span>
          <span class="col-md-6 col-xxl-4"><%= trf.name %></span>
          <span class="col-md-3 col-xxl-2"><%= trf.short_type %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


