<div class="card mb-1">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <span class="fw-bolder"><%= mc.meta_data_id %>: <%= mc.name %> </span>
      <span class="<%=enabled %>"><%= t(mc.enabled, scope: 'enabled') %></span>
      <span class="text-muted"><%= mc.transportName %></span>
    </div>
  </div>
  <% if mc.descriptor.any? %>
    <div class="card-body pb-0">
      <table class="connector table table-sm table-borderless mb-0">
        <tbody>
          <% mc.descriptor.each do |k,v| %>
            <tr>
              <td class="w-25"><%= k %>: </td>
              <td>
                <%=
                  if v.kind_of? Array
                    link_to(v[0], v[1], class: 'primary-link')
                  else
                    v
                  end
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if mc.filters.any? %>
    <div class="card-body pb-0"
         data-controller="toggle"
         data-toggle-toggle-class="hidden">
      <span data-action="click->toggle#toggleAll">
        <b>Filters (<%= mc.filters.size %>)</b>
      </span>
      <% mc.filters.each do |f| %>
       <div data data-controller="toggle" data-toggle-toggle-class="hidden">
        <div class="row m-0">
          <span class="col-md-1"><%= f.step %>: </span>
          <span class="col-md-5 col-xxl-4 text-primary" data-action="click->toggle#toggle"><%= f.name %></span>
          <span class="col-md-2 col-xxl-1"><%= f.short_type %></span>
          <span class="col-md-2 col-xxl-1"><%= f.operator %></span>
          <span class="col-md-2 <%=f.enabled %>"><%= t(f.enabled, scope: 'enabled') %></span>
        </div>
        <div class="ps-3 pe-0 py-2 script_color hidden" data-toggle-target="content">
          <%= formatted(f.content, style: :pre) %>
        </div>
       </div>
      <% end %>
    </div>
  <% end %>
  <% if mc.transformers.any? %>
    <div class="card-body pb-0"
         data-controller="toggle"
         data-toggle-toggle-class="hidden">
      <span data-action="click->toggle#toggleAll">
        <b>Transformers (<%= mc.transformers.size %>)</b>
      </span>
      <% mc.transformers.each do |trf| %>
       <div data data-controller="toggle" data-toggle-toggle-class="hidden">
        <div class="row m-0">
          <span class="col-md-1"><%= trf.step %>: </span>
          <span class="col-md-5 col-xxl-4 text-primary" data-action="click->toggle#toggle"><%= trf.name %></span>
          <span class="col-md-4 col-xxl-2"><%= trf.short_type %></span>
          <span class="col-md-2 <%=trf.enabled %>"><%= t(trf.enabled, scope: 'enabled') %></span>
        </div>
        <div class="ps-3 pe-0 py-2 script_color hidden" data-toggle-target="content">
          <%= formatted(trf.content, style: :pre) %>
        </div>
       </div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3"></div>
</div>


