<%= tag.tr id: dom_id(alert), class: dom_class(alert) do %>
  <td><%= alert.created_at.localtime.to_fs(:local) %></td>
  <td><%= alert.type %></td>
  <td><%= alert.server %></td>
  <td><%= alert.channel %></td>
  <td><%= alert.channel_statistic %></td>
  <td><%= alert.message %></td>
  <td class="text-nowrap text-end">
    <%= show_link [alert.alertable, alert], class: 'px-1',
                  data: { "turbo-frame" => "modal" }
     %>
  </td>
<% end %>


