<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.hosts') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "hosts_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'asc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.location') %></th>
            <th><%= t('attributes.software_group') %></th>
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.ipaddress') %></th>
            <th><%= t('attributes.description') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% @hosts.each do |host| %>
        <%= content_tag(:tr, id: dom_id(host), class: dom_class(host)) do %>
                <td><%= link_to host.location&.lid, host.location %></td>
                <td><%= link_to host.software_group, host.software_group %></td>
                <td><%= link_to host.name, host %></td>
                <td><%= host.ipaddress %></td>
                <td><%= host.description %></td>
                <td class="text-nowrap">
            <%= show_link host %>
            <%= edit_link host %>
            <%= delete_link host %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link Host %>
