<% if can? :navigate, :servers %>
  <li class="nav-item dropdown <%= active_class('servers') %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarConfigurationDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <%= t('controller.servers') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarConfigurationDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.servers')),
          main_app.servers_path, class: "dropdown-item" %>
      <% if can? :create, Server %>
        <%= link_to raw('<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                        t('mirco.new_server')),
              main_app.new_server_path,
              class: "dropdown-item" %>
      <% end %>

      <div class="dropdown-divider"></div>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
                       t('controller.alerts')), 
                  main_app.alerts_path, class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
                       t('controller.channels')), 
                  main_app.channels_path, class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
                       t('controller.channel_statistics')), 
                  main_app.channel_statistics_path, class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
                       t('controller.escalation_levels')), 
                  main_app.escalation_levels_path, class: "dropdown-item" %>
    </div>
  </li>
<% end %>


