<div class="container">
  <%= simple_form_for(@server,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
	 %>
      <%= f.input :uid
	 %>
      <%= f.association :location, wrapper: :horizontal_select,
                        label_method: :to_s
	 %>
      <%= f.input :description
	 %>
      <%= f.input :api_url
	 %>
      <%= f.input :api_user
	 %>
      <%= f.input :api_password
	 %>
      <%= f.input :api_user_has_full_access
	 %>
      <%= f.input :api_verify_ssl
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
