<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.servers') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "servers_table",
        class: "table table-bordered",
        style: 'width: 100%;',
        data: {
          'turbo': false,
          'datatables-target': 'datatable',
          order: [[0, 'asc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.name') %></th>
            <th class="notvisible"><%= t('attributes.uid') %></th>
            <th><%= t('attributes.location') %></th>
            <th><%= t('attributes.description') %></th>
            <th class="notvisible"><%= t('attributes.api_url') %></th>
            <% if current_user.is_admin? %>
              <th><%= t('attributes.api_user') %></th>
            <% end %>
            <th class="notvisible"><%= t('attributes.api_user_has_full_access') %></th>
            <th class="notvisible"><%= t('attributes.last_channel_update') %></th>
            <th><%= t('attributes.last_check') %></th>
            <th><%= t('attributes.last_check_ok') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <% if current_user.is_admin? %>
              <th></th>
            <% end %>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% @servers.each do |server| %>
        <%= content_tag(:tr, id: dom_id(server), class: dom_class(server)) do %>
                <td><%= server.name %></td>
                <td><%= server.uid %></td>
                <td><%= server.location %></td>
                <td><%= server.description %></td>
                <td><%= server.api_url %></td>
                <% if current_user.is_admin? %>
                  <td><%= server.api_user %></td>
                <% end %>
                <td><%= server.api_user_has_full_access %></td>
                <td><%= server.last_channel_update %></td>
                <td><%= server.last_check %></td>
                <td><%= server.last_check_ok %></td>
                <td class="text-nowrap">
            <%= show_link server %>
            <%= link_to(raw(%Q[<i class="fas fa-fw fa-project-diagram"></i>]), server_path(server, format: :svg), class: 'btn btn-secondary') %>
            <%= edit_link server %>
            <%= delete_link server %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link Server %>
