<ul class="nav nav-tabs mt-2" id="myTab" role="tablist" data-controller="bstabs">
  <li class="nav-item" role="presentation">
    <button class="nav-link disabled fs-4 py-0 my-0" type="button" tabindex="-1" aria-disabled="true"><%= @server %></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="server-tab" data-bs-toggle="tab" data-bs-target="#server" type="button" role="tab" aria-controls="server" aria-selected="true">
      <%= t('activerecord.models.server') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="properties" aria-selected="false">
      <%= t('attributes.properties') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="channels-tab" data-bs-toggle="tab" data-bs-target="#channels" type="button" role="tab" aria-controls="channels" aria-selected="false">
      <%= t('controller.channels') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="statistics-tab" data-bs-toggle="tab" data-bs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false">
      <%= t('controller.channel_statistics') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">
      <%= t('controller.notes') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="alerts-tab" data-bs-toggle="tab" data-bs-target="#alerts" type="button" role="tab" aria-controls="alerts" aria-selected="false">
      <%= t('controller.alerts') %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="configurations-tab" data-bs-toggle="tab" data-bs-target="#configurations" type="button" role="tab" aria-controls="configurations" aria-selected="false">
      <%= t('controller.server_configurations') %>
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 <div class="tab-pane fade show active" id="server" role="tabpanel" aria-labelledby="server-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('activerecord.models.server') %></h4>
        <div role="toolbar">
          <%= back_link %>
          <%= link_to(raw(%Q[<i class="fas fa-fw fa-project-diagram"></i>]), server_path(@server, format: :svg), class: 'btn btn-secondary me-1') %>

          <%= edit_link(@server) %>
          <%= delete_button(@server) %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover autowidth">

        <tr>
          <th class="w-25"><%= t('attributes.name')%>:</th>
          <td><%= @server.name %></td>
        </tr>

        <tr>
          <th><%= t('attributes.uid')%>:</th>
          <td><%= @server.uid %></td>
        </tr>

        <tr>
          <th><%= t('attributes.location')%>:</th>
          <td><%= @server.location %></td>
        </tr>

        <tr>
          <th><%= t('attributes.description')%>:</th>
          <td><%= @server.description %></td>
        </tr>

        <tr>
          <th><%= t('attributes.api_url')%>:</th>
          <td><%= @server.api_url %></td>
        </tr>

        <% if current_user.is_admin? %>
          <tr>
            <th><%= t('attributes.api_user')%>:</th>
            <td><%= @server.api_user %></td>
          </tr>
        <% end %>

        <tr>
          <th><%= t('attributes.api_user_has_full_access')%>:</th>
          <td><%= @server.api_user_has_full_access %></td>
        </tr>

        <tr>
          <th><%= t('attributes.api_verify_ssl')%>:</th>
          <td><%= @server.api_verify_ssl %></td>
        </tr>

        <tr>
          <th><%= t('attributes.last_channel_update')%>:</th>
          <td><%= @server.last_channel_update %></td>
        </tr>

        <tr>
          <th><%= t('attributes.last_check')%>:</th>
          <td><%= @server.last_check %></td>
        </tr>

        <tr>
          <th><%= t('attributes.last_check_ok')%>:</th>
          <td><%= @server.last_check_ok %></td>
        </tr>
      </table>
    </div>
  </div>
 </div>

 <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('attributes.properties') %></h4>
        <div role="toolbar">
          <%= button_to(t('mirco.update_properties'),
                      update_properties_server_path(@server),
                      class: 'btn btn-warning') if can? :manage, @server %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover autowidth">
        <tr>
          <th class="w-25"><%= t('attributes.server_uid')%>:</th>
          <td><%= @server.server_uid %></td>
        </tr>

        <tr>
          <th class="w-25"><%= t('attributes.server_jvm')%>:</th>
          <td><%= @server.server_jvm %></td>
        </tr>

        <tr>
          <th class="w-25"><%= t('attributes.server_version')%>:</th>
          <td><%= @server.server_version %></td>
        </tr>

        <tr>
          <th class="w-25"><%= t('attributes.system_info')%>:</th>
          <td><%= (@server.system_info || []).map{|k,v| "#{k}: #{v}"}.join("<br/>").html_safe %></td>
        </tr>

        <tr>
          <th class="w-25"><%= t('attributes.server_settings')%>:</th>
          <td>
            <% ['serverName', 'environmentName', 'smtpHost'].each do |attr| %>
              <%= attr %>: <%= @server.server_settings[attr] if @server.server_settings.present? %> <br />
            <% end %>
        </tr>

      </table>
    </div>
  </div>
 </div>

 <div class="tab-pane fade" id="channels" role="tabpanel" aria-labelledby="channels-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('controller.channels') %></h4>
        <div role="toolbar">
          <%= button_to(t('mirco.fetch_channels'),
                      fetch_all_server_channels_path(@server),
                      class: 'btn btn-warning') if can? :manage, @server %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="ts_channels">
        <%= render partial: 'servers/channels/index', locals: {server: @server, channels: @server.channels } %>
      </div>
    </div>
  </div>
 </div>

 <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('controller.channel_statistics') %></h4>
        <div role="toolbar">
          <%= button_to(t('mirco.fetch_statistics'),
                      fetch_all_server_channel_statistics_path(@server),
                      class: 'btn btn-warning') if can? :manage, @server %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="ts_channel_statistics">
        <%= render partial: 'channel_statistics/index', locals: {server: @server, channel_statistics: @server.channel_statistics } %>
      </div>
    </div>
  </div>
 </div>

 <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('controller.notes') %></h4>
        <div role="toolbar">
            <%= link_to(t('mirco.add_note'),
                        new_server_note_path(@server),
                        class: "btn btn-warning",
                        data: {
                          controller: :modal,
                          'modal-modal-id-value': 'sharedModal',
                          action: 'click->modal#open',
                          'turbo-frame': "modal-body"
                        }) if can? :create, Note %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id='ts_notes'>
        <%= render partial: 'notes/index', locals: {notable: @server, notes: @server.notes } %>
      </div>
    </div>
  </div>
 </div>


 <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('controller.alerts') %></h4>
        <div role="toolbar">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id='ts_alerts'>
        <%= render partial: 'alerts/index', locals: {alertable: @server, alerts: @server.alerts } %>
      </div>
    </div>
  </div>
 </div>

 <div class="tab-pane fade" id="configurations" role="tabpanel" aria-labelledby="configurations-tab">
  <div class="card mt-2">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="title"><%= t('controller.server_configurations') %></h4>
        <div role="toolbar">
            <%= link_to(t('mirco.backup_server_configuration'),
                        new_server_server_configuration_path(@server),
                        class: "btn btn-warning",
                        data: {
                          controller: :modal,
                          'modal-modal-id-value': 'sharedModal',
                          action: 'click->modal#open',
                          'turbo-frame': "modal-body"
                        }) if can? :create, ServerConfiguration %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id='ts_server_configurations'>
        <%= render partial: 'server_configurations/index', locals: {server: @server, server_configurations: @server.server_configurations } %>
      </div>
    </div>
  </div>
 </div>



</div>
<div class="row mt-2">
  <div role="toolbar">
    <%= new_link Server %>
  </div>
</div>
