<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.server') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover autowidth">
    
      <tr>
        <th><%= t('attributes.name')%>:</th>
        <td><%= @server.name %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.uid')%>:</th>
        <td><%= @server.uid %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.location')%>:</th>
        <td><%= @server.location %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.description')%>:</th>
        <td><%= @server.description %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.api_url')%>:</th>
        <td><%= @server.api_url %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.api_user')%>:</th>
        <td><%= @server.api_user %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.api_password_ciphertext')%>:</th>
        <td><%= @server.api_password_ciphertext %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.api_user_has_full_access')%>:</th>
        <td><%= @server.api_user_has_full_access %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.properties')%>:</th>
        <td><%= @server.properties %></td>
      </tr>
        </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@server) %>
      <%= delete_link(@server) %>
      <%= new_link Server %>
    </div>
  </div>
</div>
