<div id="<%= dom_id host %>">
  <div class="card-body py-2 border-bottom border-bottom-1">
    <div>
      <div>
        <i class="fas fa-desktop"></i>
        <span class="fw-bold"><%= link_to host.name, host_path(host) %></span>
        <span>(<%= host.ipaddress %>)</span> 
      </div> 
    </div>
    <div class="ps-4">
      <%= host.location %>
    </div>
    <div class="ps-4">
      <%= host.description || host.software_group %>
    </div>
  </div>
</div>
