<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.software_group') %>: 
          #<%= @software_group.id %>
        </span>
        <h4 class="title"><%= @software_group %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@software_group) %>
        <%= delete_link(@software_group) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm table-borderless">
    
      <tr>
        <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
        <td><%= @software_group.name %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.description')%>:</th>
        <td><%= @software_group.description %></td>
      </tr>
    </table>
  </div>
</div>

<%= back_link %>
<%= new_link SoftwareGroup %>

<div class="card mt-2">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <h4><%= t('controller.hosts') %></h4>
      </div>
      <div role="toolbar" class="pt-0">
        <%= link_to raw(%Q[<i class="fas fa-table"></i>]),
              location_hosts_path(@software_group),
              class: 'btn btn-secondary'
         %>
        <%= new_link([@software_group, Host]) %>
      </div>
    </div>
  </div>
  <div id="hosts">
    <% @software_group.hosts.each do |host| %>
      <%= render 'software_groups/host', host: host %>
    <% end %>
  </div>
</div>

