<div id="queued_messages">
  <%= content_tag :table, id: "queuing_table",
        class: "table table-bordered table-responsive-xl mb-0" do %>
    <thead>
      <tr class="search">
        <th class="text-start"><%= t('attributes.server') %></th>
        <th class="text-start"><%= t('attributes.channel') %></th>
        <th class="text-end d-none d-lg-table-cell"><%= t('attributes.received_last_30min') %></th>
        <th class="text-end d-none d-lg-table-cell"><%= t('attributes.error_last_30min') %></th>
        <th class="text-end d-none d-lg-table-cell"><%= t('attributes.filtered_last_30min') %></th>
        <th class="text-end d-none d-lg-table-cell"><%= t('attributes.sent_last_30min') %></th>
        <th class="text-end"><%= t('attributes.queued') %></th>
        <th class="text-center"><%= t('attributes.updated_at') %></th>
        <th class="nosort text-center"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% queued_messages.each do |channel_statistic| %>
        <% ch = channel_statistic.channel.decorate %>
        <%= content_tag(:tr, id: dom_id(channel_statistic), class: dom_class(channel_statistic)) do %>
          <td class="text-start"><%= channel_statistic.server %></td>
          <td class="text-start">
            <%= link_to(
                  channel_statistic.channel,
                  server_channel_path(channel_statistic.server,channel_statistic.channel),
                  class: "primary-link")
            %>
          </td>
          <td class="text-end d-none d-lg-table-cell"><%= ch.received_last_30min %></td>
          <td class="text-end d-none d-lg-table-cell"><%= ch.error_last_30min %></td>
          <td class="text-end d-none d-lg-table-cell"><%= ch.filtered_last_30min %></td>
          <td class="text-end d-none d-lg-table-cell"><%= ch.sent_last_30min %></td>
          <%= render TdThresholdComponent.new(
                value: channel_statistic.queued,
                warning: 10, critical: 50, css: 'text-end'
              ) %>
          <%= render TdExpirationComponent.new(
                       tstamp: channel_statistic.updated_at,
                       expiration_time: Mirco.warn_threshold.minutes ) %>
          <td class="text-nowrap text-center">
            <%= link_to(raw(%Q[<i class="fas fa-chart-bar"></i>]), channel_statistic, class: 'btn btn-secondary') %>

          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

