<div id="failed_servers">
 <% if servers.size > 0 %>
  <%= content_tag :table,
        id: "servers_table",
        class: "table table-bordered mb-0" do %>
    <thead>
      <tr class="">
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.location') %></th>
            <th class="text-center"><%= t('attributes.last_check') %></th>
            <th class="text-center"><%= t('attributes.last_check_ok') %></th>
      </tr>
    </thead>
    <tbody>
      <% servers.each do |server| %>
        <%= content_tag(:tr, id: dom_id(server), class: dom_class(server)) do %>
          <td><%= link_to(
                    server.name, 
                    server_path(server), 
                    class: "primary-link") %></td>
          <td><%= server.location %></td>
         <%= render TdEscalationComponent.new(
                       escalatable: server,
                       attrib: 'last_check',
                       css: 'text-center',
                       manual_update: server.manual_update
                    )
          %>
         <%= render TdEscalationComponent.new(
                       escalatable: server,
                       attrib: 'last_check_ok',
                       css: 'text-center',
                       manual_update: server.manual_update
                    )
          %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
 <% end %>
</div>
