<div id="server_status">
  <%= content_tag :table,
        id: "servers_table",
        class: "table table-bordered table-responsive-xl mb-0" do %>
    <thead>
      <tr class="">
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.location') %></th>
            <th class="text-center"><%= t('attributes.last_check') %></th>
            <th class="text-center"><%= t('attributes.last_check_ok') %></th>
      </tr>
    </thead>
    <tbody>
      <% servers.each do |server| %>
        <%= content_tag(:tr, id: dom_id(server), class: dom_class(server)) do %>
          <td><%= link_to(
                    server.name, 
                    server_path(server), 
                    class: "primary-link") %></td>
          <td><%= server.location %></td>
         <%= render TdExpirationComponent.new(
                       tstamp: server.last_check,
                       expiration_time: Mirco.warning_period.minutes ) %>
         <%= render TdExpirationComponent.new(
                       tstamp: server.last_check_ok,
                       expiration_time: Mirco.warning_period.minutes ) %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
