<%= turbo_stream_from :home_index %>
<div class="container-xl">
  <div class="card">
    <div class="card-header">
      <h4 class="pt-1">Queued Messages</h4>
    </div>
    <div>
      <%= render 'queues', queued_messages: @queued_messages %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="pt-1">Potential Message Problems</h4>
        <div role="toolbar">
          <% if current_user&.is_admin? %>
            <%= link_to icon_edit, escalation_levels_path, class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>

      </div>
    </div>
    <div>
      <%= render 'problems', problems: @problems %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex">
        <h4 class="me-4 pt-1">Server Status</h4>
        <%= render 'server_states' %>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag("servers", src: sindex_servers_path, refresh: "morph") %>
    </div>
  </div>
</div>

