<%= turbo_stream_from :home %>
<div class="container-xl">
  <div class="card mt-3">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-5 col-md-4 col-ml-3">
          <h4 class="me-4 pt-1">Queued Messages</h4>
        </div>
        <div class="d-flex col-xs-7 col-md-8 col-ml-9">
          <%= render 'queued_states' %>
        </div>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag("queued", src: queued_channel_statistics_path, refresh: "morph") %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-5 col-md-4 col-ml-3">
          <h4 class="me-4 pt-1">Potential Message Problems</h4>
        </div>
        <div class="d-flex col-xs-7 col-md-8 col-ml-9">
          <%= render 'problem_states' %>
          <% if current_user&.is_admin? %>
            <%= link_to icon_edit + " Escalation Levels", escalation_levels_path,
                class: 'btn btn-outline-secondary ms-auto' %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag("problems", src: problems_channel_statistics_path, refresh: "morph") %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-5 col-md-4 col-ml-3">
          <h4 class="me-4 pt-1">Server Status</h4>
        </div>
        <div class="d-flex col-xs-7 col-md-8 col-ml-9">
          <%= render 'server_states' %>
        </div>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag("servers", src: sindex_servers_path, refresh: "morph") %>
    </div>
  </div>


</div>

