<div class="container-xxl">
  <div class="card mb-3">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <div>
          <span class="subtitle">
            <%= t('activerecord.models.software') %>: 
            #<%= @software.id %>
          </span>
          <h4 class="title"><%= @software %></h4>
        </div>
        <div role="toolbar" class="pt-3">
          <%= edit_link(@software) %>
          <%= delete_link(@software) %>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-sm table-borderless">
      
        <tr>
          <th class="w-10 pe-3"><%= t('attributes.location')%>:</th>
          <td><%= link_to @software.location, @software.location %></td>
          <th class="w-25 pe-3"><%= t('controller.hosts')%> via <%=t('attributes.software_group')%>:</th>
          <td>
            <% @software.software_group.hosts.where(location_id: @software.location_id).each do |host| %>
              <%= link_to host, host %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
          <td><%= @software.name %></td>
        </tr>

        <tr>
          <th class="w-10 pe-3"><%= t('attributes.vendor')%>:</th>
          <td><%= @software.vendor %></td>
        </tr>

        <tr>
          <th class="w-10 pe-3"><%= t('attributes.software_group')%>:</th>
          <td><%= link_to @software.software_group, @software.software_group %></td>
        </tr>

        <tr>
          <th class="w-10 pe-3"><%= t('attributes.description')%>:</th>
          <td><%= @software.description %></td>
        </tr>
      </table>
    </div>
  </div>

  <%= back_link %>
  <%= new_link Software %>


  <div class="card my-3">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <div>
          <h4><%= t('controller.software_interfaces') %></h4>
        </div>
        <div role="toolbar" class="pt-0">
          <%= link_to raw(%Q[<i class="fas fa-table"></i>]),
                software_software_interfaces_path(@software),
                class: 'btn btn-secondary'
           %>
          <%= new_link([@software, SoftwareInterface]) %>
        </div>
      </div>
    </div>
    <div id="software_interfaces">
      <% @software.software_interfaces.each do |software_interface| %>
        <%= render 'software/software_interfaces/software_interface', software_interface: software_interface %>
      <% end %>
    </div>
  </div>
</div>
