<%= tag.tr id: dom_id(note), class: "#{'invalid' unless note.is_active}" do %>
  <td class="text-center"><%= note.created_at.localtime.to_fs(:local) %></td>

  <td><%= t(note.type, scope: 'notes') %></td>
  <td><%= note.notable&.fullname %></td>
  <td><%= truncate(note.message.to_plain_text, length: 200) %></td>
  <td class="text-center"><%= note.valid_until&.localtime&.to_fs(:local) %></td>
  <td><%= note.user %></td>
  <td class="text-end text-nowrap">
    <%= show_link [note.notable, note], class: 'px-1', data: { "turbo-frame" => "modal" } %>
    <%= edit_link [note.notable, note], class: 'px-1', data: { "turbo-frame" => "modal" } %>
    <%= delete_button([note.notable, note], class: 'no_button') %>
  </td>
<% end %>

