<div id="<%= dom_id software_interface %>">
  <div class="card-body py-2 border-bottom border-bottom-1">
    <div>
      <div class="fw-bold">
        <%= software_interface.name %>
      </div> 
      <div class="text-muted ps-3">
        <%= software_interface.hostname %> (<%= software_interface.ipaddress %>)
      </div>
    </div>
    <div class="ps-3">
      <%= software_interface.description %>
    </div>
  </div>
</div>
