<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "channel_statistics_table",
        class: "table table-bordered",
        style: 'width: 100%;',
        data: {
          'turbo': false,
          'datatables-target': 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr>
        <% unless server.present? %>
          <th><%= t('attributes.server') %></th>
        <% end %>
        <th><%= t('attributes.channel') %></th>
        <th><%= t('attributes.destination') %></th>
        <th class="notvisible"><%= t('attributes.state') %></th>
        <th class="notvisible"><%= t('attributes.status_type') %></th>
        <th><%= t('attributes.received') %></th>
        <th><%= t('attributes.sent') %></th>
        <th><%= t('attributes.error') %></th>
        <th><%= t('attributes.filtered') %></th>
        <th><%= t('attributes.queued') %></th>
        <th><%= t('attributes.condition') %></th>
        <th><%= t('attributes.last_condition_change') %></th>
        <th><%= t('attributes.updated_at') %></th>
        <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
        <% unless server.present? %>
          <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% channel_statistics.each do |channel_statistic| %>
        <%= content_tag(:tr, id: dom_id(channel_statistic), class: dom_class(channel_statistic)) do %>
          <% unless server.present? %>
            <td><%= channel_statistic.server %></td>
          <% end %>
          <td><%= link_to_if(can?(:read, channel_statistic.channel),
                    channel_statistic.channel,
                    channel_path(channel_statistic.channel),
                    class: 'primary-link')
              %>
          </td>
          <td>
            <% if channel_statistic.meta_data_id.nil? %>
              -
            <% else %>
              <%= channel_statistic.name %>
            <% end %>
          </td>
          <td><%= channel_statistic.state %></td>
          <td><%= channel_statistic.status_type %></td>
          <td><%= channel_statistic.received %></td>
          <td><%= channel_statistic.sent %></td>
          <td><%= channel_statistic.error %></td>
          <td><%= channel_statistic.filtered %></td>
          <td><%= channel_statistic.queued %></td>
          <td><%= channel_statistic.condition %></td>
          <td><%= channel_statistic.last_condition_change&.to_formatted_s(:db) %></td>
          <%= render TdExpirationComponent.new(
                       tstamp: channel_statistic.updated_at,
                       expiration_time: 5.minutes ) %>
          <td class="text-nowrap">
            <%= link_to(raw(%Q[<i class="fas fa-chart-bar"></i>]), channel_statistic, class: 'btn btn-secondary me-1') if can? :read, channel_statistic %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
