<%= render 'shared/turbo-cache-control' %>

<h1> <%= t('controller.channel_statistics') %> <%= @server %> </h1>

<%= render partial: 'index', locals: {server: @server, channel_statistics: @channel_statistics.active} %>

<br />

<%= back_link %>
