<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.channel_statistic') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-borderless table-hover table-sm">
    
      <tr>
        <th class="w-25"><%= t('attributes.server')%>:</th>
        <td><%= @channel_statistic.server %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.channel')%>:</th>
        <td><%= @channel_statistic.channel %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.server_uid')%>:</th>
        <td><%= @channel_statistic.server_uid %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.channel_uid')%>:</th>
        <td><%= @channel_statistic.channel_uid %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.received')%>:</th>
        <td><%= @channel_statistic.received %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.sent')%>:</th>
        <td><%= @channel_statistic.sent %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.error')%>:</th>
        <td><%= @channel_statistic.error %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.filtered')%>:</th>
        <td><%= @channel_statistic.filtered %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.queued')%>:</th>
        <td><%= @channel_statistic.queued %></td>
      </tr>
      <tr>
        <th><%= t('attributes.updated_at')%>:</th>
          <%= render TdExpirationComponent.new(
                       tstamp: @channel_statistic.updated_at,
                       expiration_time: 5.minutes,
                       cssclass: 'text-left' ) %>
      </tr>
    </table>

  </div>
  <div class="card-body">
    <%= line_chart current_channel_statistic_path(@channel_statistic),
          title: "Current (8h)",
          xtitle: "#{@channel_statistic.server}::#{@channel_statistic.channel}",
          ytitle: "Queued Messages",
          height: "400px",
          download: true
     %>

  </div>
  <div class="card-body">
    <%= column_chart current_sent_channel_statistic_path(@channel_statistic),
          title: "Current sent (8h)",
          xtitle: "#{@channel_statistic.server}::#{@channel_statistic.channel}",
          ytitle: "Sent Messages",
          height: "400px",
          download: true
     %>
  
  
  </div>
  <div class="card-body">
    <%= column_chart last_week_channel_statistic_path(@channel_statistic),
          title: "Last Week (max. per hour)",
          xtitle: "#{@channel_statistic.server}::#{@channel_statistic.channel}",
          ytitle: "Queued Messages",
          height: "400px",
        download: true
     %>


    <div role="toolbar">
      <%= back_link %>
    </div>
  </div>
</div>
