<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.channel_statistic_group') %>: 
          #<%= @channel_statistic_group.id %>
        </span>
        <h4 class="title"><%= @channel_statistic_group %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@channel_statistic_group) %>
        <%= delete_link(@channel_statistic_group) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm table-borderless">
    
      <tr>
        <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
        <td><%= @channel_statistic_group.name %></td>
      </tr>
    </table>
  </div>
</div>

<%= back_link %>
<%= new_link ChannelStatisticGroup %>
