<div id="<%= dom_id escalation_time %>">
  <p>
    <strong>Escalation level:</strong>
    <%= escalation_time.escalation_level_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= escalation_time.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= escalation_time.end_time %>
  </p>

  <p>
    <strong>Weekdays:</strong>
    <%= escalation_time.weekdays %>
  </p>

</div>
