<%= simple_form_for([escalation_level, escalation_time],
      html: {class: 'form-horizontal'} ) do |form| %>

  <div class="form-input">
    <%= form.association :escalation_level
       %>
    <%= form.input :start_time
       %>
    <%= form.input :end_time
       %>
    <%= form.input :weekdays
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
