<div id="<%= dom_id host %>">
  <div class="card-body py-2 border-bottom border-bottom-1">
    <div>
      <div>
        <span class="fw-bold"><%= link_to host.name, host_path(host) %></span>
        <span>(<%= host.ipaddress %>)</span> 
      </div> 
    </div>
    <div class="ps-3">
      <% if host.description.blank? %>
        <%= host.software_group %>
      <% else %>
        <%= host.description || host.software_group %>
      <% end %>
    </div>
  </div>
</div>
